/*General*/

*{
    margin: 0 auto;
    padding: 0;
    border: 0;
}
p, h2, h3{
    font-family: 'Orelega One', cursive;
    font-family: 'PT Sans', sans-serif;
}

/* Header */
.header{
    width: 100%;
    height: 199px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    position: fixed;
    box-sizing: border-box;
    padding-left: 114px;
    padding-right: 114px;
}
#logoheader{
    width: 120px;
    height: 119px;
    margin: 0px;
}
.searchbox{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 61px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 0.5px solid #6060604D;
    margin: 0px;
    
   
}
#searchbutton{
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20.5px;
    margin-bottom: 20.5px;
}
input{
    height: 20px;
    width: 398px;
    margin-top: 5px;
    border: 0 none;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: rgba(96, 96, 96, 0.6);
}
::placeholder{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: rgba(96, 96, 96, 0.6);

}


/*Section*/

section div.menu{
    padding-top: 279px;
    padding-bottom: 233px;
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
}
section div.menu div.content{
    width: 1212px;
    display: flex;
    flex-direction: row;
}
.grid{
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    width: 590px;
    height: 512px ;

}
section #grid1{
    margin-right: 16px;
    /*margin-left: 0px;*/
}
section #grid2{
    margin-left: 16px;
}
section .card{
    background:#FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
}
div.content div.grid div#pricecard.card{
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    max-width: 318px;
    max-height: 512px;
}
#pricecard #biggerimg{
    max-width: 270px;
    max-height: 270px;
}
#pricecard h2{
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    color: #292929;
    margin-top: 31px;
    margin-bottom: 8px;
    margin-left: 0px;

}
#pricecard p{
    color: #606060;
    font-style: normal;
    font-size: 16px;


}
#pricecard h3{
    display: flex;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    background-color: #F9C7BF80;
    border-radius: 8px;
    padding: 8px;
    width: fit-content;
    margin-top: 31px;
    margin-left: 0px;
}
#imgcard{
    max-width: 240px;
    max-height: 240px;
}
#imgcard #smallerimg{
    max-width: 192px;
    max-height: 192px;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 155.02px;
    background-color: #F2F2F2;
    position:relative;
    box-sizing: border-box;
    padding-left: 114px;
    padding-right: 114px;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    width: 135px;
    justify-content: space-between;
    margin-right: 118px;
}
nav ul li{
    list-style: none;
}
nav ul li #imgredes{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
nav ul li #imgredes:hover{
    background-color: #E5E5E5;
    transition: 0.5s;
}
#logofooter{
    width: 60px;
    height: 59.02px;
    padding-top: 48px;
    padding-bottom: 48px;
}
#signature{
    font-size: 14px;
    font-weight: 400;
    color: #292929;
}



/* Responsividade*/

@media (max-width:1300px){
    body{
        height: 100%;
    }
    section div.menu div.content{
        height: 100% ;
        width: 600px;
        display: flex;
        flex-direction: column; 
    }
    section #grid1{
        margin: 0;
        margin-bottom: 16px;
    }
    section #grid2{
        margin: 0;
        margin-top: 16px;
    }
    section #grid2.grid #pricecard{
        grid-column: 2;
    }
    nav ul{
      margin-right: 0px;
    }
}

@media (max-width:850px){
    .header .searchbox #input{
        width: 20px;
        height: 20px;
        background-image: url(images/magnifyingglass.png);
        background-size: cover;
        margin-top: 0px;
    }
    ::placeholder{
        font-size: 0px;
    }
    .header .searchbox{
        width: 70px;
        height: 70px;
    }
    .header .searchbox #searchbutton{
        display: none;
        width: 20px;
        height: 20px;
        padding: 13.31px;
        margin: 0px auto;
    }

}

@media (max-width:700px){
    body{
        height: 100%;
        width: 100%;
    }
    section div.menu div.content{
        width: fit-content;
        justify-content: center;
        margin: 0 auto;
    }
    .header{
        justify-content: space-between;
        padding-right: 32px;
        padding-left: 32px;
        height: 129.42px;
        width: 100%;
    }
    .header .searchbox #input{
        width: 13.37px;
        height: 13.37px;
        background-image: url(images/magnifyingglass.png);
        background-size: cover;
        margin-top: 0px;
    }
    ::placeholder{
        font-size: 0px;
    }
    .header .searchbox{
        width: 40px;
        height: 40px;
    }
    .header .searchbox #searchbutton{
        display: none;
        width: 20px;
        height: 20px;
        padding: 13.31px;
        margin: 0px auto;
    }

/*
    .header .searchbox{
        width: 40px;
        height: 40px;
    }
    .header .searchbox input{
        width: 13.37px;
        height: 13.37px;
        background-size: cover;
        padding: 13.31px;
        margin: 0px;
    }*/
    .header #logoheader{
        width: 70px;
        height: 69.42px;
        margin: 0px;
    }
    section div.menu{
        padding-top: 170px;
        padding-bottom: 166px;
    }
    .grid{
        display: grid;
        grid-gap: 18px;
        grid-template-columns: repeat(2, 1fr);
        width: 326px;
        height: 283px;
    }
    section #grid1{
        margin-right: 0px;
        margin-bottom: 9px;
    }
    section #grid2{
        margin-left: 0px;
        margin-top: 9px;
    }
    section .card{
        background:#FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 8.84px;
        padding: 13.26px;
        box-sizing: border-box;
    }
    div.content div.grid div#pricecard.card{
        display: flex;
        flex-direction: column;
        grid-row: 1/3;
        width: 175.71px;
        max-height: 283px;
    }
    #pricecard #biggerimg{
        max-width: 149.19px;
        max-height: 149.19px;
    }
    #pricecard h2{
        font-size: 17.68px;
        font-weight: 500;
        font-style: normal;
        color: #292929;
        margin-top: 17.13px;
        margin-bottom: 4.42px;
        margin-left: 0px;
    }
    #pricecard p{
        color: #606060;
        font-style: normal;
        font-size: 8.84px;
    }
    #pricecard h3{
        display: flex;
        font-weight: 400;
        font-size: 13.26px;
        color: #000000;
        background-color: #F9C7BF80;
        border-radius: 4.42px;
        padding: 4.42px;
        width: fit-content;
        margin-top: 17.13px;
        margin-left: 0px;
    }
    div #imgcard.card{
        width: 132px;
        height: 132px;
    }
    #imgcard #smallerimg{
        width: 106px;
        height: 106px;
    }



    /*Footer*/
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 32px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 128px;
        
    }
    nav ul{
        margin-right: 0px;
    }
    nav ul li #imgredes{
        width: 25px;
        height: 25px;
        
    }
    #logofooter{
        display:none;
    }
}


@media (max-width: 340px){
    #signature{
        font-size: 10px;
    }
}